body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 150%;
  background-color: #effcef;
}
hr{
  width:5%;
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  color: grey;
}

h1 {
  color: #94d3ac;
  font-size: 5.625rem;
  margin: 30px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
.main-h2{
  color: #94d3ac;
  font-weight: normal;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}

h2 {
  color: #7fcd91;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #7fcd91;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #effcef;
  position: relative;
  padding-top: 100px;
}
.intro{
  width: 50%;
  margin: auto;
}

.middle-container {}

.skill-row{
  margin: 100px auto 100px auto;
  width: 60%;
  text-align: left;
  line-height: 2;

}

.img-middle {
  height: 200px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
  width: 20%;
}

.skills-middle1 {
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.skills-middle2 {
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}
.bottom-container {
background-color:  #4CAF50;
padding-top: 15px;
padding-bottom: 30px;
margin-top: 30px;
}

.footer-link{
  color: #effcef ;
  text-decoration: none;
}
.btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.contact-me{
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
